.App-link {
  color: #61dafb;
}


a {
  font-size: 16px;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }